@font-face {
    font-family: "Tanker-Regular";
    src: url("./fonts/Tanker-Regular.woff2") format("woff2"),
      url("./fonts/Tanker-Regular.woff") format("woff"),
      url("./fonts/Tanker-Regular.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Sentient-Regular";
    src: url("./fonts/Sentient-Regular.woff2") format("woff2"),
      url("./fonts/Sentient-Regular.woff") format("woff"),
      url("./fonts/Sentient-Regular.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

body {
    background-color: #333333;
    margin: 0;
    height: 100vh;
    
}

main {
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: normal;
    font-family: "Sentient-Regular", serif;
    font-size: 2.5rem;
    color: #ECECEC;
    text-align: right;
 }

h2 {
    font-family: "Tanker-Regular", sans-serif;
    font-size: 2rem;
    color: #ECECEC;
    letter-spacing: 0.2rem;
    text-align: left;
    margin: 0 0 20px 0;
}

header {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.logo {
    height: 50px;
    z-index: 20;
}

ul {
    padding: 0;
    margin: 0;
}

nav ul {
    margin: 0;
    display: flex;
    list-style: none;
    color: #ECECEC;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    font-weight: normal;
    font-family: "Tanker-Regular", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: #ECECEC;
    margin-left: 30px;
    text-align: center;
    
}

nav ul li a:hover, 
nav ul li a:focus {
    color: #D41116;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    cursor: pointer;
}
.hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: #ECECEC;
}

.hamburger:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease, filter 0.2s ease;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        z-index: 20;
    }

    nav{
        display: none;
    }

    .show {
        display: flex;
        position: absolute;
        align-items: center;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        background-color: #2d2d2bfb;
        z-index: 10;
    }
    
    .show ul {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .show a {
        font-size: 2rem;
        margin: 0;
        padding: 0;
   }
}

.carousel {
    justify-content: center;
    align-items: center;
    z-index: 5;
    margin: 10px 10px 50px 10px;
    border-radius: 20px;
    overflow: hidden;
    height: 100vh;
    
}

.firstPIC {
    
}

.carousel h1 {
    position: absolute;
    font-size: 5rem;
    top: 40%;
    right: 10%;
    line-height: 1;
}
.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.form-container {
    background: #2d2d2b;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 7px rgba(0,0,0,0.1);
    min-width: 320px;
    max-width: 800px;
    margin: 25px auto;
  }
  
  form label {
    font-weight: normal;
    font-family: "Sentient-Regular", serif;
    font-size: 1rem;
    color: #ECECEC;
    display: block;
    margin: 10px 0 5px;
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-weight: normal;
    font-family: "Sentient-Regular", serif;
    font-size: 1rem;
    color: #2d2d2b;
    box-sizing: border-box;
  }
  
  form input:focus,
  form textarea:focus {
    border-color: #D41116;
    outline: none;
  }
  
  button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #D41116;
    border: none;
    font-family: "Tanker-Regular", sans-serif;
    font-size: 1.5rem;
    color: #ECECEC;
    letter-spacing: 0.1rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  button:hover {
    background-color: #a8171c;
  }

  .form-icon {
    position: relative;
    
  }
  .icon {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    fill: #2d2d2b;
}

.modal {
    display: none;
    background: #ecececec;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 7px rgba(0,0,0,0.1);
    max-width: 800px;
    width: 60vw;
    height: 400px;
    margin: 0 auto;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal h3 {
    font-weight: normal;
    font-family: "Sentient-Regular", serif;
    font-size: 2.5rem;
    color: #2d2d2b;
    text-align: center;
    margin: 0 40px;
}

.animace {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.box {
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 20px;
    align-content: center;
    text-align: center;
    background-color: #D41116;
    font-family: "Tanker-Regular", sans-serif;
    font-size: 2rem;
    color: white;
    
    animation: slideIn 2000ms ease-out infinite;
}
    @keyframes slideIn {
        from {
        transform: translateX(-300%);
        opacity: 0%;
        }
        to {
        transform: translateX(0);
        opacity: 100%;
        }
    }


.box2 {
    width: 100px;
    height: 100px;
    padding: 20px;
    border-radius: 20px;
    margin: 0 20px;
    align-content: center;
    text-align: center;
    background-color: #D41116;
    font-family: "Tanker-Regular", sans-serif;
    font-size: 2rem;
    color: white;    
}
.box2:hover {
    animation: pulse 0.5s ease-in-out;
}
  @keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid #ECECEC;
  border-top: 5px solid #D41116;
  border-radius: 50%;
  animation: spin 1500ms linear infinite;
}
@keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


footer {
    background-color: #D41116;
    margin: 10px;
    border-radius: 20px 20px 0 0;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}

.gmaps {
    
    
}