@font-face {
    font-family: "Tanker-Regular";
    src: url("./fonts/Tanker-Regular.woff2") format("woff2"),
      url("./fonts/Tanker-Regular.woff") format("woff"),
      url("./fonts/Tanker-Regular.ttf") format("truetype");
    font-weight: 600;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: "Sentient-Regular";
    src: url("./fonts/Sentient-Regular.woff2") format("woff2"),
      url("./fonts/Sentient-Regular.woff") format("woff"),
      url("./fonts/Sentient-Regular.ttf") format("truetype");
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}

body {
    background-color: #333333;
    margin: 0;
    height: 100vh;
}

main {
    height: calc(100vh - 90px);
    align-content: center;
}

h1 {
    font-weight: normal;
    font-family: "Sentient-Regular", serif;
    font-size: 2.5rem;
    color: #ECECEC;
    text-align: center;
    margin: 0 auto
}

h2 {
    font-family: "Tanker-Regular", sans-serif;
    font-size: 2rem;
    color: #ECECEC;
    letter-spacing: 0.2rem;
    text-align: left;
}

header {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2b;
}

.logo {
    height: 50px;
    z-index: 20;
}

ul {
    padding: 0;
    margin: 0;
}

nav ul {
    margin: 0;
    display: flex;
    list-style: none;
    color: #ECECEC;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    font-weight: normal;
    font-family: "Tanker-Regular", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    color: #ECECEC;
    margin-left: 30px;
    text-align: center;
    
}

nav ul li a:hover, 
nav ul li a:focus {
    color: #D41116;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    cursor: pointer;
}
.hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: #ECECEC;
}

.hamburger:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease, filter 0.2s ease;
}

nav ul.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: #ECECEC;
}

@media (max-width: 768px) {
    .hamburger {
        display: flex;
        z-index: 20;
    }


    nav{
        display: none;
    }

    .show {
        display: flex;
        position: absolute;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        list-style: none;
        padding: 0;
        margin: 0 auto;
        background-color: #2d2d2bfb;
        z-index: 10;
    }
    
    .show ul {
        position: relative;
        left: 50%;
        transform: translate(-50%);
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .show a {
        font-size: 2rem;
        margin: 0;
        padding: 0;
   }
}